.app-container{
    background-color: aquamarine;
}
.heading{
    display: flex;
    justify-content: center; 
    align-items: center;
    font-weight: bold;
    font-size: 4vw; 
    background-color: antiquewhite;
    margin: 2vw 30vw;
    border-radius: 30px;
    height: 10vh;
    box-shadow: 0px 2px 30px rgba(244, 19, 19, 0.953);
}